<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Tank Battle
        style
            include ../public/src/Styles/main.css
    body
        script
            include ../public/src/PageManagers/menu.js
            include ../public/src/PageManagers/records.js