/* AppComponent's private CSS styles */
h1 {
  font-size: 1.2em;
  color: #999;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
.vertical-menu {
  position: absolute;
  top:20px;
  left: 20px;
  width: 200px; /* Set a width if you like */
}

.vertical-menu a {
  background-color: #eee; /* Grey background color */
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
  background-color: #cfd8dc; /* Dark grey background on mouse-over */
}

.vertical-menu a:active {
  background-color: rgb(115, 141, 189); /* Add a green color to the "active/current" link */
  color: white;
}
